#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# mod-instanced-worldbosses configuration
########################################
#
#    ModInstancedWorldBosses.Enable
#        Description: Enable the module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ModInstancedWorldBosses.Enable = 0

#
#    ModInstancedWorldBosses.ResetTimerSecs
#        Description: Global boss reset timer in seconds.
#        Default:    25920 seconds (3 days)
#

ModInstancedWorldBosses.ResetTimerSecs = 25920